/**/
*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

.mainMenu {
    margin: 10px 15px 10px 15px;
    padding: 20px 5px 20px 5px;
    text-align: center;
    /* background-color: rgba(54, 54, 54, 0.329); */
    background: radial-gradient(35% 45%, rgba(54, 54, 54, 0.329),rgba(0, 0, 0, 0));
}

.mainMenu li {
    display: inline;
    margin: 0px 5px 0px 5px;
}

.mainMenu a {
    color: white;
}

.mainMenu li:after {
    display: inline;
    vertical-align: top;
}

.mainMenu li:first-child {padding-right: 7.81%;}

.footBar {
    position: absolute;
    bottom: 2%;
    left: 40%;
    right: 40%;
    margin: 10px 15px 10px 15px;
    padding: 20px 5px 20px 5px;
    text-align: center;
    background: radial-gradient(50% 60%, rgba(54, 54, 54, 0.429),rgba(0, 0, 0, 0));
}

.footBar li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
}



.back {
    background-color: #000000f1;
    padding: 1%;
    width: 100%;
    height: 100%;
}

.mainBody {
    background-position: center;
    background-image: url(https://oboi247.ru/img/post/49/0.jpg);
    background-color: rgba(54, 54, 54, 0.329);
    height: 100%;
    width: 100%;
}

.head {
    background-color: rgba(228, 10, 10, 0);
    padding-top: 10px;
    height: 100%;
    width: 100%;
}